ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none
}
button{ 
    cursor: pointer
}
.logo{
    font-family: 'Raleway','Roboto', sans-serif;
    font-size: 1.16;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: -0.03em;
    word-wrap: break-word;
    color: #4D5AE5;
    }
    .logo-span{
            font-size: 1.16;
            font-family: 'Raleway', 'Roboto', sans-serif;
            font-weight: 700;
            color: #2E2F42;
    } 
    .menu-link{
            font-size: 16px;
             font-family:  'Roboto','Raleway', sans-serif;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: -0,02;
            word-wrap: break-word;
             color: #2E2F42;
    }
    .samp-stud{ 
            font-size: 16px;
            font-family: 'Roboto', 'Raleway', sans-serif;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: -0.02;
            word-wrap: break-word;
            color: #404BBF;
    }
    .menu-link{
        color: #2E2F42;
            font-size: 16px;
             font-family: 'Roboto', 'Raleway', sans-serif;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: -0.02;
            word-wrap: break-word;
    }
    .kontaks{
            font-size: 16px;
            font-family: 'Roboto', 'Raleway', sans-serif;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.02;
            word-wrap: break-word;
            color: #434455;
    }